<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}}</title>
  <link rel='stylesheet' href='/style.css' />
</head>
<body>
    <h1>Azure AD</h1>
    <h3>Tokens</h3>
    <table>
        <tbody>
            <th>Token</th>
            <th>Value</th>
            <tr>
                <td>idToken</td>
                <td>{{idToken}}</td>
            </tr>
            <tr>
                <td>accessToken</td>
                <td>{{accessToken}}</td>
            </tr>
            <tr>
                <td>Token type</td>
                <td>{{tokenType}}</td>
            </tr>
            <tr>
                <td>Expires on</td>
                <td>{{expiresOn}}</td>
            </tr>
        </tbody>
    </table>
</body>
</html>